<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336202028275-5p048td7052bh0oehm1tllrak9tssfe2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336202028275-5p048td7052bh0oehm1tllrak9tssfe2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>336202028275-tae55rmhpjovkj82n4biti6plhkkrohj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAM7Lou2jt-Pq6bKdfBOOGyK1h1sDAu0uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>336202028275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.masfufat.alshamamapp</string>
	<key>PROJECT_ID</key>
	<string>masfufat-29447</string>
	<key>STORAGE_BUCKET</key>
	<string>masfufat-29447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336202028275:ios:bb2a4eace1981a1c595386</string>
</dict>
</plist>